{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>Logo</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad delectus facilis pariatur eum provident assumenda consequatur expedita iusto quasi est, numquam perferendis commodi praesentium maiores libero deleniti eveniet illum. Qui!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/logo.jpg" alt="" class="img-thumbnail">
    </div>
</div>
{{>footer}}